@font-face {
    font-family: "league-spartan";
    src: url("css/fonts/league-spartan/LeagueSpartan-Bold.otf") format("otf");
    src: url("css/fonts/league-spartan/LeagueSpartan-Bold.ttf") format("truetype");
  }

@font-face {
    font-family: "glacial-indifference";
    src: url("css/fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("otf");
    src: url("css/fonts/glacial-indifference/GlacialIndifference-Regular.ttf") format("truetype");
  }