// navigation bar that is on all pages exc
nav {
  background-color: white;
  height: 12.5vh;

  .navbar-brand {
    height: 7.5vh;
    margin-left: 2vw;
    padding: 0;

    @media screen and (max-width: $small) {
      height: 5vh;
      margin-left: 0;
    }

    .nav-logo {
      height: 7.5vh;

      @media screen and (max-width: $small) {
        height: 5vh;
      }
    }
  }

  ul {
    font-size: 1.2rem;
    padding-right: 1vw;

    @media screen and (max-width: $medium) {
      font-size: 0.8rem;
    }

    @media screen and (max-width: $small) {
      font-size: 0.6rem;
    }

    .nav-item {
      padding: 0 2vw;
      text-decoration: none;

      @media screen and (max-width: $medium) {
        padding: 0 1.25vw;
      }

      @media screen and (max-width: $small) {
        padding: 0 0.75vw;
      }
    }

    .checkoutIcon:hover {
      border: none;
    }
  }

  // the dropdown menu is only present when there are items in the cart, it appears as a downward arrow next to the cart
  .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: $box-shadow;
    padding: 1.5rem 1.5rem;
    transform: translateX(68.75vw);
    width: 30vw;

    // both the before an after pseudo elements style the small triangle that appears on the top of the dropdown menu
    &::before {
      content: "";
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid white;
      height: 0;
      position: absolute;
      left: 85%;
      top: -20px;
      width: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid rgba(0, 0, 0, 0.04);
      height: 0;
      left: 85%;
      top: -22px;
      position: absolute;
      width: 0;
      z-index: 1;
    }

    a:hover {
      border-bottom: none !important;
    }

    .dropdown-total {
      font-size: 0.8rem;
    }

    // if the cart has a lot of items, these styles gives the dropdown a custom scrollbar to scroll through the products
    .dropdown-product-list {
      max-height: 24vh;
      overflow-y: auto;

      .dropdown-img {
        height: 10vh;
      }
    }

    // dropdown button
    .dropdown-button-checkout,
    .dropdown-button-cart {
      border: none;
      font-size: 0.8rem !important;
      padding: 0.5rem;
      transition: all 0.5s ease;
      width: 100%;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
}
