.bg-theme-blue {
  background-color: $theme-blue;
}

.bg-theme-yellow {
  background-color: $theme-yellow;
}

.bg-theme-purple {
  background: $theme-purple;
}

.bg-theme-cyan {
  background: $theme-cyan;
}

.font-secondary {
  font-family: "glacial-indifference";
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.letter-spacing-02 {
  letter-spacing: 0.2rem;
}

.text-light-grey {
  color: #dcdcdc;
}

.text-theme-blue {
  color: $theme-blue;
}

.text-theme-cyan {
  color: $theme-cyan;
}

.text-theme-purple {
  color: $theme-purple;
}

.text-theme-yellow {
  color: $theme-yellow;
}

.text-06 {
  font-size: 0.6rem;
}

.text-08 {
  font-size: 0.8rem;
}
