// prices page
.prices-title {
    margin-top: 5vh;
}

.prices-container {
    height: 70vh;
    width: 100vw;

    .triangle{
        height: 30vh;
    }

    p{
        font-family: "glacial-indifference";
    }
}