.bg-theme-blue {
  background-color: #45546c; }

.bg-theme-yellow {
  background-color: #ffde59; }

.bg-theme-purple {
  background: #d2c7ff; }

.bg-theme-cyan {
  background: #9bd4e4; }

.font-secondary {
  font-family: "glacial-indifference"; }

.justify-content-evenly {
  justify-content: space-evenly; }

.letter-spacing-02 {
  letter-spacing: 0.2rem; }

.text-light-grey {
  color: #dcdcdc; }

.text-theme-blue {
  color: #45546c; }

.text-theme-cyan {
  color: #9bd4e4; }

.text-theme-purple {
  color: #d2c7ff; }

.text-theme-yellow {
  color: #ffde59; }

.text-06 {
  font-size: 0.6rem; }

.text-08 {
  font-size: 0.8rem; }

body {
  box-sizing: border-box;
  font-family: "glacial indifference";
  font-size: 16px;
  letter-spacing: 0.1rem;
  overflow-x: hidden; }
  body a {
    color: #45546c !important;
    transition: all 0s ease; }
  body button:focus {
    outline: 0 !important;
    box-shadow: none !important; }
  body h1,
  body h2,
  body h3,
  body h4,
  body nav,
  body ul,
  body button {
    font-family: "league-spartan"; }
  body i {
    cursor: pointer; }
  body p {
    font-family: "glacial-indifference"; }
  body ul {
    list-style-type: none; }
    body ul a {
      transition: border-bottom 0.15s ease; }
      body ul a:hover {
        border-bottom: solid #45546c 2px;
        text-decoration: none; }

@font-face {
  font-family: "league-spartan";
  src: url("css/fonts/league-spartan/LeagueSpartan-Bold.otf") format("otf");
  src: url("css/fonts/league-spartan/LeagueSpartan-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "glacial-indifference";
  src: url("css/fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("otf");
  src: url("css/fonts/glacial-indifference/GlacialIndifference-Regular.ttf") format("truetype"); }
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #45546c;
  border-radius: 10px;
  background-color: #F5F5F5; }

div::-webkit-scrollbar {
  width: 9px;
  background-color: #F5F5F5; }

div::-webkit-scrollbar-thumb {
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px #45546c;
  background-color: #45546c; }

footer {
  height: 13vh; }
  footer i {
    transition: all 0.5s ease; }
    footer i:hover {
      transform: scale(1.1); }
  footer .footer-logo {
    height: 13vh; }

.store-modal,
.checkout-modal {
  background-color: rgba(211, 211, 211, 0.5);
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10; }
  .store-modal .modal-container,
  .checkout-modal .modal-container {
    background-color: white;
    height: 90vh;
    left: 25vw;
    top: 5vh;
    padding: 2.5vh 5vw;
    width: 50vw; }
    @media screen and (max-width: 576px) {
      .store-modal .modal-container,
      .checkout-modal .modal-container {
        left: 12.5vw;
        width: 75vw; } }
    .store-modal .modal-container h3,
    .checkout-modal .modal-container h3 {
      margin-top: 3vh; }
      @media screen and (max-width: 768px) {
        .store-modal .modal-container h3,
        .checkout-modal .modal-container h3 {
          font-size: 1.5rem; } }
    .store-modal .modal-container .modal-img,
    .checkout-modal .modal-container .modal-img {
      height: 40vh; }
      @media screen and (max-width: 768px) {
        .store-modal .modal-container .modal-img,
        .checkout-modal .modal-container .modal-img {
          height: 20vh; } }
    @media screen and (max-width: 576px) {
      .store-modal .modal-container .modal-price,
      .checkout-modal .modal-container .modal-price {
        font-size: 0.9rem;
        margin-bottom: 0; } }
    .store-modal .modal-container .modal-size-options,
    .checkout-modal .modal-container .modal-size-options {
      margin-top: 1vh;
      margin-bottom: 2vh; }
      @media screen and (max-width: 576px) {
        .store-modal .modal-container .modal-size-options,
        .checkout-modal .modal-container .modal-size-options {
          margin-bottom: 1vh; } }
    @media screen and (max-width: 576px) {
      .store-modal .modal-container .modal-info,
      .checkout-modal .modal-container .modal-info {
        font-size: 0.7rem; } }
    .store-modal .modal-container .modal-button,
    .checkout-modal .modal-container .modal-button {
      background: transparent;
      border: solid #45546c 2px;
      border-radius: 20px;
      height: 6vh;
      transition: all 0.5s ease;
      width: 30%; }
      .store-modal .modal-container .modal-button:hover,
      .checkout-modal .modal-container .modal-button:hover {
        background: #45546c !important;
        color: white; }
      @media screen and (max-width: 992px) {
        .store-modal .modal-container .modal-button,
        .checkout-modal .modal-container .modal-button {
          width: 37.5%; } }
      @media screen and (max-width: 768px) {
        .store-modal .modal-container .modal-button,
        .checkout-modal .modal-container .modal-button {
          width: 60%; } }
  .store-modal .close-X,
  .checkout-modal .close-X {
    left: 72vw; }
    @media screen and (max-width: 576px) {
      .store-modal .close-X,
      .checkout-modal .close-X {
        left: 80vw; } }

nav {
  background-color: #fff;
  height: 12.5vh;
  z-index: 10; }
  @media screen and (max-width: 576px) {
    nav {
      height: auto; } }
  nav .navbar-brand {
    height: 7.5vh;
    margin-left: 2vw;
    padding: 0; }
    @media screen and (max-width: 576px) {
      nav .navbar-brand {
        height: 5vh;
        margin-left: 0; } }
    nav .navbar-brand .nav-logo {
      height: 7.5vh; }
      @media screen and (max-width: 576px) {
        nav .navbar-brand .nav-logo {
          height: 5vh; } }
  nav .ul-container {
    width: 100%; }
    nav .ul-container ul {
      font-size: 1.2rem;
      padding-right: 1vw;
      width: 100%; }
      @media screen and (max-width: 768px) {
        nav .ul-container ul {
          font-size: 0.85rem; } }
      @media screen and (max-width: 576px) {
        nav .ul-container ul {
          background: #fff;
          left: 22.5%;
          margin-top: 2.5vh;
          position: relative;
          width: 50vw; } }
      nav .ul-container ul .nav-item {
        padding: 0 2vw;
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          nav .ul-container ul .nav-item {
            padding: 0 1.25vw; } }
        @media screen and (max-width: 576px) {
          nav .ul-container ul .nav-item {
            padding: 1vh 0; } }
      nav .ul-container ul .checkoutIcon:hover {
        border: none; }
  nav .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1.5rem;
    transform: translateX(68.75vw);
    width: 30vw; }
    nav .dropdown-menu::before {
      content: "";
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid white;
      height: 0;
      position: absolute;
      left: 85%;
      top: -20px;
      width: 0;
      z-index: 2; }
    nav .dropdown-menu::after {
      content: "";
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid rgba(0, 0, 0, 0.04);
      height: 0;
      left: 85%;
      top: -22px;
      position: absolute;
      width: 0;
      z-index: 1; }
    nav .dropdown-menu a:hover {
      border-bottom: none !important; }
    nav .dropdown-menu .dropdown-total {
      font-size: 0.8rem; }
    nav .dropdown-menu .dropdown-product-list {
      max-height: 24vh;
      overflow-y: auto; }
      nav .dropdown-menu .dropdown-product-list .dropdown-img {
        height: 10vh; }
    nav .dropdown-menu .dropdown-button-checkout,
    nav .dropdown-menu .dropdown-button-cart {
      border: none;
      font-size: 0.8rem !important;
      padding: 0.5rem;
      transition: all 0.5s ease;
      width: 100%; }
      nav .dropdown-menu .dropdown-button-checkout:hover,
      nav .dropdown-menu .dropdown-button-cart:hover {
        text-decoration: none;
        opacity: 0.8; }

.landing-page-container {
  overflow: hidden !important; }

.landing-img {
  min-height: 100vh;
  width: 100vw !important; }

.sidebar-container {
  left: 70%;
  top: 15%;
  z-index: 1; }
  @media screen and (max-width: 992px) {
    .sidebar-container {
      left: 25%;
      top: 15%;
      width: 50vw; } }
  .sidebar-container .landing-logo {
    margin-bottom: 3vh;
    max-width: 75%; }
    @media screen and (max-width: 992px) {
      .sidebar-container .landing-logo {
        margin-bottom: 6vh;
        max-height: 50vh;
        max-width: 100%; } }
  .sidebar-container .landing-navigation-ul {
    padding: 0;
    z-index: 1; }
    @media screen and (min-width: 1400px) {
      .sidebar-container .landing-navigation-ul {
        font-size: 2rem; } }
    @media screen and (max-width: 1400px) {
      .sidebar-container .landing-navigation-ul {
        font-size: 1.5rem; } }
    @media screen and (max-width: 992px) {
      .sidebar-container .landing-navigation-ul {
        font-size: 1.25rem; } }
    @media screen and (max-width: 576px) {
      .sidebar-container .landing-navigation-ul {
        font-size: 1rem; } }
    .sidebar-container .landing-navigation-ul .nav-item {
      padding: 1vh 0; }

.our-gym-page-container {
  overflow-x: hidden; }

.welcome-landing-section {
  height: 100vh;
  width: 100vw; }
  @media screen and (max-width: 768px) {
    .welcome-landing-section {
      height: 87.5vh; } }
  .welcome-landing-section .landing-image {
    background: yellow;
    height: 75vh;
    left: 7.5vw;
    top: 15vh; }
  .welcome-landing-section .welcome-landing-textgroup {
    left: 60%;
    top: 30%;
    width: 60vh; }
    @media screen and (max-width: 768px) {
      .welcome-landing-section .welcome-landing-textgroup {
        left: 0;
        top: 35%;
        width: 100vw; } }
    @media screen and (max-width: 576px) {
      .welcome-landing-section .welcome-landing-textgroup {
        top: 30%; } }
    .welcome-landing-section .welcome-landing-textgroup h2 {
      font-size: 2.5rem; }
      @media screen and (min-width: 1200px) {
        .welcome-landing-section .welcome-landing-textgroup h2 {
          font-size: 4rem; } }
  @media screen and (max-width: 768px) {
    .welcome-landing-section .welcome-landing-title {
      font-size: 2rem;
      padding: 0 15%; } }
  .welcome-landing-section .welcome-landing-title span {
    color: #9bd4e4; }
  .welcome-landing-section p {
    font-family: "glacial-indifference";
    font-size: 1.5rem; }
  .welcome-landing-section .downward-arrow {
    font-size: 2.5rem;
    position: relative;
    top: 15vh; }
    @media screen and (max-width: 576px) {
      .welcome-landing-section .downward-arrow {
        top: 10vh; } }

.welcome-info {
  max-height: 100vh; }
  .welcome-info .triangle {
    max-height: 18vh;
    max-width: 18vh; }
  .welcome-info .d-flex {
    height: 33vh;
    padding-left: 1vw; }
    @media screen and (min-width: 1400px) {
      .welcome-info .d-flex {
        font-size: 1.5rem; } }
  .welcome-info img {
    height: 100vh;
    width: 100%; }

.welcome-get-started {
  padding-bottom: 10vh;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .welcome-get-started {
      max-height: 170vh; } }
  .welcome-get-started .row {
    padding: 0 9vw; }
  .welcome-get-started .welcome-get-started-title {
    padding: 10vh 0; }
    @media screen and (max-width: 768px) {
      .welcome-get-started .welcome-get-started-title {
        padding: 7.5vh 5vh 5vh 5vh; } }
  .welcome-get-started .shoe-img {
    height: 10vh;
    margin-top: 5vh; }
    @media screen and (max-width: 768px) {
      .welcome-get-started .shoe-img {
        margin-top: 0; } }
  .welcome-get-started .cake-img {
    margin-top: -3vh; }
    @media screen and (max-width: 768px) {
      .welcome-get-started .cake-img {
        margin-top: 0; } }
  .welcome-get-started .cake-img,
  .welcome-get-started .chalk-img {
    height: 15vh; }
  .welcome-get-started .chalk-img {
    margin-top: -0.75vh; }
  .welcome-get-started .get-started-info {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .welcome-get-started .get-started-info {
        width: 85%; } }
  .welcome-get-started .get-started-store-group {
    margin-top: 10vh; }
    .welcome-get-started .get-started-store-group button {
      border: none;
      border-radius: 20px;
      min-height: 5vh;
      min-width: 10vw;
      padding: 1vh 2vw; }
      @media screen and (max-width: 576px) {
        .welcome-get-started .get-started-store-group button {
          min-width: 20vw; } }
      .welcome-get-started .get-started-store-group button a:hover {
        text-decoration: none !important; }

.welcome-cafe {
  height: 100vh;
  overflow: hidden; }
  .welcome-cafe .col-4 {
    height: 100vh; }
    .welcome-cafe .col-4 .welcome-cafe-title {
      padding: 2.5rem; }
    .welcome-cafe .col-4 .welcome-cafe-info {
      margin-left: 50%;
      width: 50%; }
  .welcome-cafe .col-8 {
    padding: 0; }
    .welcome-cafe .col-8 img {
      height: 100%;
      width: 110%; }

.welcome-see-you-soon {
  height: 40vh;
  width: 100vw; }
  .welcome-see-you-soon img {
    height: 10vh;
    margin: 15vh 5vw; }

.prices-title {
  margin-top: 5vh; }

.prices-container {
  height: 70vh;
  width: 100vw; }
  .prices-container .triangle {
    height: 30vh; }
  .prices-container p {
    font-family: "glacial-indifference"; }

.store-title {
  margin: 5vh 0; }

.active-btn,
.store-btn {
  background-color: transparent;
  border: none;
  margin: 1vh 2vw; }

.store-btn {
  color: grey;
  font-size: 0.9rem; }
  @media screen and (max-width: 576px) {
    .store-btn {
      font-size: 0.75rem; } }

.active-btn {
  color: black;
  font-size: 1.25rem; }
  @media screen and (max-width: 576px) {
    .active-btn {
      font-size: 1rem; } }

.card {
  cursor: pointer;
  margin: 1.5vh 0;
  max-height: 40vh;
  overflow: hidden; }
  .card:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 576px) {
    .card .card-title {
      font-size: 0.8rem; } }
  .card imghover {
    transform: scale(1.05); }

.card,
img {
  transition: transform 0.6s ease; }

.checkout-container {
  height: 100%;
  padding: 0 5vw;
  width: 100%; }
  .checkout-container button {
    transition: all 0.5s ease; }
  .checkout-container button:hover {
    opacity: 0.8; }

.empty-cart-container {
  margin-top: 20vh;
  margin-bottom: 47.5vh;
  padding: 0 7.5vw; }

.dotted-border {
  background: url("img/dotted-border.png") no-repeat;
  background-position: 62.5%;
  background-size: contain;
  height: 80vh; }

.basket-column,
.summary-column {
  min-height: 75vh;
  padding-top: 4vh; }
  @media screen and (max-width: 992px) {
    .basket-column,
    .summary-column {
      min-height: auto; } }
  .basket-column button,
  .summary-column button {
    border: none;
    padding: 0.5rem 1rem;
    width: 10vw; }
    @media screen and (max-width: 992px) {
      .basket-column button,
      .summary-column button {
        width: 15vw; } }
    @media screen and (max-width: 768px) {
      .basket-column button,
      .summary-column button {
        width: 20vw; } }
    @media screen and (max-width: 576px) {
      .basket-column button,
      .summary-column button {
        width: 37.5vw; } }

.basket-column {
  margin-left: 7vw; }
  @media screen and (max-width: 992px) {
    .basket-column {
      margin-left: 0; } }
  .basket-column .basket-title {
    margin-bottom: 7.5vh; }
  .basket-column .product-info {
    border-bottom: solid #45546c 3px;
    margin-bottom: 2vh;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .basket-column .product-info {
        border-bottom: none; } }
    @media screen and (max-width: 576px) {
      .basket-column .product-info .product-title {
        font-size: 0.9rem; } }
    .basket-column .product-info .price-title {
      margin-left: -1vw; }
  .basket-column .cart-list {
    height: 35vh;
    margin-bottom: 4.5vh;
    overflow: hidden auto; }
    @media screen and (max-width: 768px) {
      .basket-column .cart-list {
        height: 27.5vh; } }
    .basket-column .cart-list .cart-item {
      margin: 2vh 0; }
      .basket-column .cart-list .cart-item .quantity-button {
        background-color: transparent;
        border: none;
        padding: 0 !important; }
      .basket-column .cart-list .cart-item .plus {
        margin-top: 2.5% !important; }
      .basket-column .cart-list .cart-item img {
        cursor: pointer; }
      @media screen and (max-width: 576px) {
        .basket-column .cart-list .cart-item .cart-item-title,
        .basket-column .cart-list .cart-item .cart-item-price {
          font-size: 0.85rem; } }

.summary-column {
  margin-left: -1.25vw; }
  @media screen and (max-width: 992px) {
    .summary-column {
      margin-left: 0;
      padding-bottom: 5vh; } }
  @media screen and (max-width: 576px) {
    .summary-column {
      border-top: solid #45546c 1px;
      margin: 5vh 5vw 0 5vw; } }
  .summary-column .summary-title {
    margin-bottom: 12.5vh; }
    @media screen and (max-width: 576px) {
      .summary-column .summary-title {
        margin-bottom: 10vh; } }
  @media screen and (max-width: 992px) {
    .summary-column .subtotal-container,
    .summary-column .checkout-total {
      margin-left: 20%;
      width: 33%; } }
  @media screen and (max-width: 768px) {
    .summary-column .subtotal-container,
    .summary-column .checkout-total {
      width: 40%; } }
  @media screen and (max-width: 576px) {
    .summary-column .subtotal-container,
    .summary-column .checkout-total {
      margin-left: 5%;
      width: 50%; } }
  .summary-column .subtotal-container {
    border-bottom: solid #45546c 3px;
    padding-bottom: 3vh;
    padding-right: 8%; }
    @media screen and (max-width: 576px) {
      .summary-column .subtotal-container {
        font-size: 0.8rem;
        padding-bottom: 0;
        padding-right: 0; } }
  .summary-column .checkout-total {
    font-size: 1.75rem;
    margin-top: 4vh;
    margin-bottom: 5.5vh; }
    @media screen and (max-width: 576px) {
      .summary-column .checkout-total {
        font-size: 1rem;
        margin-top: 2vh; } }
  @media screen and (min-width: 1400px) {
    .summary-column .checkout-button-group {
      position: relative;
      top: 4.5vh; } }
  @media screen and (max-width: 992px) {
    .summary-column .checkout-button-group {
      left: 50%;
      top: 45.25%;
      position: absolute;
      width: 40%; } }
  @media screen and (max-width: 768px) {
    .summary-column .checkout-button-group {
      left: 55%;
      top: 45.5%; } }
  @media screen and (max-width: 576px) {
    .summary-column .checkout-button-group {
      left: 57.5%;
      top: 43%; } }
  @media screen and (max-width: 576px) {
    .summary-column .checkout-button-group button {
      font-size: 0.8rem; } }
  .summary-column .checkout-button-group p {
    padding-top: 7.5%; }

.contact-container {
  height: 87.5vh;
  overflow: hidden;
  position: relative; }

.visit-us-section,
.get-in-touch-section {
  height: 110vh;
  padding-top: 17.5vh;
  position: absolute;
  top: -11vh;
  width: 55vw; }
  @media screen and (max-width: 768px) {
    .visit-us-section,
    .get-in-touch-section {
      height: 100vh;
      transform: rotate(0) !important;
      width: 49.5%; } }
  @media screen and (max-width: 576px) {
    .visit-us-section,
    .get-in-touch-section {
      height: 45vh;
      position: relative;
      padding-top: 5vh;
      top: 0;
      width: 100vw; } }
  @media screen and (max-width: 768px) {
    .visit-us-section .content,
    .get-in-touch-section .content {
      transform: rotate(0) !important; } }
  @media screen and (max-width: 768px) {
    .visit-us-section h2,
    .get-in-touch-section h2 {
      font-size: 1.5rem;
      padding: 0 !important; } }

.visit-us-section {
  left: -6vw;
  transform: rotate(10deg); }
  @media screen and (max-width: 768px) {
    .visit-us-section {
      left: 0; } }
  .visit-us-section .content {
    transform: rotate(-10deg); }
    .visit-us-section .content h2 {
      padding-left: 4vw; }
    .visit-us-section .content iframe {
      height: 40vh;
      margin: 5.5vh 3vw 0 3vw;
      width: 60%; }
      @media screen and (max-width: 768px) {
        .visit-us-section .content iframe {
          width: 75%; } }
      @media screen and (max-width: 576px) {
        .visit-us-section .content iframe {
          margin-top: 2vh;
          margin-left: 0;
          height: 20vh; } }
    .visit-us-section .content h4 {
      margin-top: 5vh;
      padding: 0 3.5vw; }
      @media screen and (max-width: 768px) {
        .visit-us-section .content h4 {
          font-size: 1rem; } }
      @media screen and (max-width: 576px) {
        .visit-us-section .content h4 {
          font-size: 0.8rem;
          margin: 3.5vh 0; } }

.get-in-touch-section {
  left: 51%;
  transform: rotate(10deg); }
  @media screen and (max-width: 576px) {
    .get-in-touch-section {
      left: 0; } }
  .get-in-touch-section .content {
    transform: rotate(-10deg); }
    .get-in-touch-section .content h4:first-of-type {
      margin-top: 15vh;
      margin-bottom: 7vh; }
      @media screen and (max-width: 576px) {
        .get-in-touch-section .content h4:first-of-type {
          margin-top: 2vh; } }
    .get-in-touch-section .content h4 {
      padding-right: 10vw; }
      @media screen and (max-width: 768px) {
        .get-in-touch-section .content h4 {
          font-size: 1.2rem;
          margin-bottom: 15vh;
          padding-right: 0;
          width: 100%; } }
      @media screen and (max-width: 576px) {
        .get-in-touch-section .content h4 {
          font-size: 0.9rem;
          margin-bottom: 3vh !important; } }
    .get-in-touch-section .content .contact-social-media-group {
      margin-left: 12vw;
      margin-top: 12.5vh; }
      @media screen and (max-width: 768px) {
        .get-in-touch-section .content .contact-social-media-group {
          margin-left: 0; } }
      @media screen and (max-width: 576px) {
        .get-in-touch-section .content .contact-social-media-group {
          margin-top: 0; } }
      .get-in-touch-section .content .contact-social-media-group img {
        height: 9vh;
        margin: 0 0.75vw 0 0.75vw; }
        @media screen and (max-width: 768px) {
          .get-in-touch-section .content .contact-social-media-group img {
            height: 5vh;
            margin: 0 0.5vw 0 0.5vw; } }
        @media screen and (max-width: 576px) {
          .get-in-touch-section .content .contact-social-media-group img {
            height: 4vh; } }
      .get-in-touch-section .content .contact-social-media-group .linkedin {
        border-radius: 6px; }
      .get-in-touch-section .content .contact-social-media-group .facebook {
        border-radius: 9px; }

/*# sourceMappingURL=main.css.map */
